@media screen and (max-width: 648px){

    .lupinha-container {
        display: block;
        
    }

    .lupinha-container {
        position: absolute;
        top: 45px;
        right: 60px;
        z-index: 999;
        cursor: pointer;
    }
    .logobrasilemcena {
        display:block;
        width: 68px;
        height: auto;
        margin-top: 16px;
    }
    

    .navigation, .navigation__social{
        display:none;
    }
    .menu-icon-container {
        display: block;
    }

   .menu-icon-container {
        position: absolute;
        top: 40px;
        right: 10px;
        z-index: 999;
        cursor: pointer;
    } 

    .video-container iframe{
        width: 25%; 
        max-width: 100%; 
        margin-top: 20px; 
    }
    .main__info p {
        font-family:'Montserrat', sans-serif;
        font-size: lem;
        font-weight: 300;
        line-height: 1.5em;
        margin: 10px 0 20px;
        max-width: 390px;
        word-wrap: break-word;
    }

    .direitos-autorais {
                width: 20%;
                position: relative; /* Altera a posição para relativa para remover a posição absoluta anterior */
                top: auto;
                left: 4%;
                transform: none; /* Remove a transformação anterior */
                text-align: center; /* Alinha o texto no centro */
                margin-top: 20px; /* Adicione margem superior conforme necessário */
            }
            .lupinha-container {
                display:block;
            }
}
