@media screen and (max-width: 648px){

    .navigation, .navigation__social{
        display:none;
    }
    .menu-icon-container {
        display: block;
    }

   .menu-icon-container {
        position: absolute;
        top: 40px;
        right: 10px;
        z-index: 999;
        cursor: pointer;
    } 

    .video-container {
        width: 100%; /* Ocupa a largura total do contêiner pai */
        max-width: 100%; /* Define a largura máxima para ser igual à largura total */
        margin-top: 20px; /* Adicione margem superior para separar do texto */
    }
    .main__info p {
        font-family:'Montserrat', sans-serif;
        font-size: lem;
        font-weight: 300;
        line-height: 1.5em;
        margin: 10px 0 20px;
        max-width: 550px;
        word-wrap: break-word;
    }

    .direitos-autorais {
                position: relative; /* Altera a posição para relativa para remover a posição absoluta anterior */
                top: auto;
                left: auto;
                transform: none; /* Remove a transformação anterior */
                text-align: center; /* Alinha o texto no centro */
                margin-top: 20px; /* Adicione margem superior conforme necessário */
            }
}
