/* main */

main {
    flex: 1;
  
    display: flex;
    align-items:center;
    justify-content: space-between;
  
    width: 100%;
    max-width: 1440px;
    padding-left: 30px;
  
  
  }
  
  .main__info {
    margin-top: 100px;
  }
  
/* volta pra main papai */

.main__info h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 800;
    font-size: 400%;
  }

.main__info .streaming h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
  
  .main__info p {
    font-family:'Montserrat', sans-serif;
    font-size: lem;
    font-weight: 300;
    line-height: 1.5em;
    margin: 10px 0 20px;
    max-width: 600px;
    word-wrap: break-word;
    
  }
  
  .main__info h4 span{
      padding: 0 10px;
      border-right: 1px solid rgba(255, 255, 255, 0.5)
  }
  
  .main__info h4 span:first-child {
    padding-left: 0;
  }
  
  .main__info h4 span:last-child {
    border-right: none;
  }
  
  .main__info h4 span i {
    background:var(--green);
    color: #ffffff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
  }
  
  .main__info .buttons {
    position: relative;
  }
  
  .main__info .buttons a {
    position: relative;
    display:inline-block;
    margin-right: 10px;
    background: #14B02D;
    color: #ffffff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .main__info .buttons a:nth-child(2) {
    background: rgba(0,0,0,0.5);
    border:1px solid rgba(255, 255, 255, 0.5);
  }
  
  .main__info .buttons a:hover:nth-child(2) {
    background: #14B02D;
  }
  
  .main__info .streaming h2 {
    margin-top: 20px;
  }
  